<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" href='/static/cabecalho.css' rel="stylesheet">
<link type="text/css" href='/static/rodape.css' rel="stylesheet">
<link type="text/css" href="/static/response.css" rel="stylesheet">


<link type="text/css" href={{ url_for('static', filename='view_arquivo.css') }} rel="stylesheet">
<script type="text/javascript" src='/static/baixar_pasta.js' defer></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<link rel="shortcut icon" type="image/jpg" href="/static/image/P.png">

<title>Baixar - PDF.Life</title>

</head>

<body>


    <header>
        <a href="{{url_for('index')}}">
            <h1 id="name">PDF.Life</h1>
        </a>
    
        <div class="menu">
            <a href="{{url_for('cortar')}}">
                <div>
                    <h1>Cortar</h1>
                </div>
            </a>
    
            <a href="{{url_for('extrair')}}">
                <div>
                    <h1>Extrair</h1>
                </div>
            </a>
    
            <a href="{{ url_for('traduzir_html') }}">
                <div>
                    <h1 class="blinking-text">Traduzir</h1>
                </div>
            </a>
    
            <a href="{{url_for('converter')}}">
                <div>
                    <h1>PDF p/ JPG</h1>
                </div>
            </a>
        </div>
    
    </header>

    <div id="baixar">
    <button id="downloadButton" style="display: none" onclick="baixarPDF()">Baixar PDF</button>
    </div>
    <style>
        #baixar{
            padding-top: 200px;
        }
        footer{
            position: absolute;
        }
    </style>
</body>

<footer>

    <div>
    <p>Email: pdflifee@gmail.com</p>
    <p>© 2024 PDF.Life</p>
    </div>

    <a href="{{url_for('index')}}">
        <h1>PDF.Life</h1>
    </a>

</footer>


</html>
